<div class="container">
  <div class="row">
    <div class="recent">
      <button class="btn-primarys"><h3>Our Skills</h3></button>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="content">
      <div class="col-md-4">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
          <div class="align-center">
            <h4>Design</h4>
            <div class="icon">
              <i class="fa fa-desktop fa-3x"></i>
            </div>
            <p>We love creativity and know how important it is for a project to have a unique look and feel and how it influences the suers</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.8s">
          <div class="align-center">
            <h4>Development</h4>
            <div class="icon">
              <i class="fa fa-cloud fa-3x"></i>
            </div>
            <p>We use cutting edge technologies and make sure our work meets industry standards and regulations</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.2s">
          <div class="align-center">
            <h4>Marketing</h4>
            <div class="icon">
              <i class="fa fa-location-arrow fa-3x"></i>
            </div>
            <p>We value the importance of reaching out to users to tell them how they can solve their problems.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
